html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    background: black;
}

.img{
    height: 500px;
    width: 750px;
    background-image:url("../img/tank.png");
    background-repeat: no-repeat;
}